<section class="bg-gray-800 text-white px-6 py-16">

  <div class="max-w-4xl mx-auto text-center mb-16 animate-drop-in-bounce">
    <h3 class="text-4xl font-bold text-violet-400 mb-6">About Me</h3>
    <p class="text-lg text-gray-200 leading-relaxed">
      I'm Hager Essam, a passionate Full-Stack Developer with experience in building responsive and user-friendly web
      applications using Angular and .NET. I enjoy turning ideas into working applications and solving real-world
      problems with clean code and creative design.
    </p>
  </div>


  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-12 mb-16">

    <div class="animate-fade-in-up">
      <h3 class="text-4xl font-bold text-violet-400 mb-6">What I do</h3>
      <ul class="list-disc list-inside text-gray-300 space-y-2">
        <li>Build modern web apps with Angular</li>
        <li>Create REST APIs using ASP.NET Core</li>
        <li>Design clean UI with Tailwind CSS</li>
        <li>Integrate databases using Entity Framework</li>
        <li>Deploy applications and work with GitHub</li>
      </ul>
    </div>

    <div class="animate-scale-in delay-200">
      <h3 class="text-4xl font-bold text-violet-400 mb-6">Technologies I use</h3>
      <div class="flex flex-wrap gap-3 text-sm">
        <span class="bg-teal-200 text-teal-800 px-3 py-1 rounded-full">Angular</span>
        <span class="bg-teal-200 text-teal-800 px-3 py-1 rounded-full">.NET Core</span>
        <span class="bg-teal-200 text-teal-800 px-3 py-1 rounded-full">C#</span>
        <span class="bg-teal-200 text-teal-800 px-3 py-1 rounded-full">SQL</span>
        <span class="bg-teal-200 text-teal-800 px-3 py-1 rounded-full">Tailwind CSS</span>
        <span class="bg-teal-200 text-teal-800 px-3 py-1 rounded-full">Git & GitHub</span>
      </div>
      <div class="mt-10">
        <a href="../../assets/files/CV.pdf" download="Hager_Essam_CV.pdf"
           class="bg-violet-800 hover:bg-violet-950 text-white px-6 py-3 mt-3 rounded-lg shadow-lg transition duration-300">
          Download CV
        </a>
      </div>
    </div>
  </div>

  <div class="max-w-2xl mx-auto bg-gray-900 p-6 rounded-lg shadow-lg text-center animate-fade-in-up delay-300">
    <h4 class="text-xl font-semibold text-violet-400">Graduated in Computer Science</h4>
    <p class="text-sm text-gray-300">Minya University<br>2025</p>
  </div>
</section>
