<section class="bg-gray-800 text-white px-6 py-16">
  <div class="max-w-4xl mx-auto text-center mb-16 animate-drop-in-bounce">
    <h3 class="text-4xl font-bold text-violet-400 mb-6">About Me</h3>
    <p class="text-lg text-gray-200 leading-relaxed">
      I'm Hager Essam, a passionate Full-Stack Developer with a strong focus on building modern, responsive web
      applications using Angular and .NET. I enjoy turning ideas into real-world solutions by developing clean user
      interfaces, creating robust REST APIs, and integrating databases with Entity Framework. With a good eye for design
      and a love for coding, I aim to build user-friendly apps that are both functional and visually appealing.
    </p>
  </div>


  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-12 mb-16">


    <div class="bg-gray-900 p-6 rounded-lg shadow-lg animate-fade-in-up text-center flex flex-col items-center justify-center">
      <img src="assets/images/education.png" class="w-12 mb-4" alt="Education Icon">
      <h4 class="text-xl font-semibold text-violet-400 mb-4">Education</h4>

      <div class="w-full max-w-xs space-y-3 text-left">
        <div class="flex  text-sm text-gray-300">
          <span class="mr-3 font-semibold text-white">University :</span>
          <span>Minya University</span>
        </div>
        <div class="flex  text-sm text-gray-300">
          <span class="mr-3 font-semibold text-white">Degree :</span>
          <span>Computers and information</span>
        </div>
        <div class="flex text-sm text-gray-300">
          <span class="mr-3 font-semibold text-white">Department :</span>
          <span>Computer Science</span>
        </div>
        <div class="flex text-sm text-gray-300">
          <span class="mr-3 font-semibold text-white">Graduation Year :</span>
          <span>2025</span>
        </div>
      </div>
    </div>




    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 animate-scale-in delay-200">

      <div class="bg-gray-900 p-4 rounded-lg shadow-md">
        <h5 class="text-lg font-semibold text-teal-300 mb-3">Frontend</h5>
        <ul class="text-sm space-y-1 text-gray-300">
          <li>Angular</li>
          <li>Tailwind CSS</li>
          <li>Bootstrap</li>
          <li>HTML</li>
          <li>CSS</li>
        </ul>
      </div>

      <div class="bg-gray-900 p-4 rounded-lg shadow-md">
        <h5 class="text-lg font-semibold text-teal-300 mb-3">Backend</h5>
        <ul class="text-sm space-y-1 text-gray-300">
          <li>.NET Core</li>
          <li>C#</li>
          <li>Entity Framework</li>
        </ul>
      </div>
      <div class="bg-gray-900 p-4 rounded-lg shadow-md">
        <h5 class="text-lg font-semibold text-teal-300 mb-3">Database</h5>
        <ul class="text-sm space-y-1 text-gray-300">
          <li>SQL Server</li>
        </ul>
      </div>
      <div class="bg-gray-900 p-4 rounded-lg shadow-md">
        <h5 class="text-lg font-semibold text-teal-300 mb-3">Tools</h5>
        <ul class="text-sm space-y-1 text-gray-300">
          <li>Git</li>
          <li>GitHub</li>
        </ul>
      </div>

      <div class="bg-gray-900 p-4 rounded-lg shadow-md">
        <h5 class="text-lg font-semibold text-teal-300 mb-3">Other</h5>
        <ul class="text-sm space-y-1 text-gray-300">
          <li>REST APIs</li>
          <li>Responsive Design</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center mt-10">
    <a href="../../assets/files/CV.pdf" download="Hager_Essam_CV.pdf"
       class="bg-violet-800 hover:bg-violet-950 text-white px-6 py-3 rounded-lg shadow-lg transition duration-300">
      Download CV
    </a>
  </div>
</section>
