<section
  class="bg-light-bg text-light-text dark:bg-dark-bg dark:text-dark-text min-h-screen flex flex-col md:flex-row items-center justify-center gap-10 px-4 py-8 md:px-6 md:py-12 transition-colors duration-300">

  <div class="ml-4 md:ml-14 text-center md:text-left max-w-xl" data-aos="fade-up" data-aos-duration="1000">
    <h2 class="text-4xl font-bold text-violet-600 dark:text-violet-400">
      <span id="typed-text"></span>
    </h2>
    <h2 id="static-text" class="hidden text-4xl font-bold text-violet-600 dark:text-violet-400 mb-10">
      Hello, I am Hager Essam<br>
      Full-Stack Developer
    </h2>
    <p class="text-lg leading-relaxed text-gray-800 dark:text-gray-200">
      I'm a full-stack developer who loves building websites and web apps using Angular and .NET.
      I enjoy creating clean, easy-to-use designs and writing code that works well and runs fast.
      I've worked on different projects like medical apps and dashboards.
      I’m passionate about what I do and enjoy turning ideas into real working apps.
    </p>
    <div class="flex flex-col md:flex-row gap-4 mt-6">
      <a routerLink="/contact"
         class="bg-sky-600 hover:bg-sky-800 text-white px-6 py-3 rounded-lg shadow-lg transition duration-700">
        Contact Me
      </a>
    </div>
  </div>

  <div class="flex flex-wrap justify-center gap-4 mt-10 md:mt-0 group">

    <img
      src="assets/images/img_1.png"
      alt="Project 1"
      class="w-44 md:w-56 rounded-xl shadow-lg transform rotate-[-8deg] transition-transform duration-1000 ease-in-out hover:scale-125"
    />

    <img
      src="assets/images/img.png"
      alt="Project 2"
      class="w-44 md:w-56 rounded-xl shadow-lg transform rotate-5 transition-transform duration-1000 hover:scale-125"
    />

    <img
      src="assets/images/img_2.png"
      alt="Project 3"
      class="w-44 md:w-56 rounded-xl shadow-lg transform rotate-[8deg] transition-transform duration-1000 hover:scale-125"
    />

  </div>

</section>
