<section class="bg-gray-800 text-white px-6 py-16 min-h-screen">
  <div class="max-w-6xl mx-auto">

    <div
      class=" p-10 bg-gray-900 rounded-lg shadow-lg overflow-hidden mb-10 flex flex-col md:flex-row animate-fade-in-up">

      <div class="p-6 flex flex-col justify-center md:w-2/3">
        <h3 class="text-2xl font-semibold mb-2 text-teal-300">Bonefiy</h3>
        <p class="text-gray-300 mb-4">
          I was responsible for developing the frontend of Boneify using Angular,
          that is an intelligent medical web application that connects patients with bone specialists and assists in
          early fracture detection using AI. It features a deep learning model based on Convolutional Neural Networks
          (CNN) to analyze X-ray images and detect bone fractures . Users can register as patients or specialists, and
          chat securely. Specialists verify their credentials through certificate uploads. The app uses JWT
          authentication for secure access, includes profile management, and provides educational resources. With
          real-time messaging and AI integration, BonesApp enhances orthopedic diagnosis and streamlines communication
          between patients and specialists. </p>

        <h4 class="text-sm text-violet-400 font-semibold mb-2">Technologies Used:</h4>
        <div class="flex flex-wrap gap-2 text-sm text-gray-100">
          <span class="bg-gray-800 border-gray-100 border-2 px-3 py-1 rounded-full">Angular</span>
          <span class=" bg-gray-800 border-gray-100 border-2 px-3 py-1 rounded-full ">Bootstrap</span>
        </div>

        <div class="mt-6">
          <a href="https://https-graduationproject.vercel.app/" target="_blank"
             class="inline-block bg-violet-700 hover:bg-violet-800 text-white px-5 py-2 rounded-md transition duration-300 shadow">
            View Project
          </a>
        </div>
      </div>

      <div class="md:w-1/2 flex items-center justify-center p-4">
        <img
          src="assets/images/img.png"
          alt="Project Screenshot"
          class="w-full max-w-xs md:max-w-sm rounded-lg object-contain shadow-lg"
        />
      </div>
    </div>


  </div>


  <div class="max-w-6xl mx-auto">

    <div
      class=" p-10 bg-gray-900 rounded-lg shadow-lg overflow-hidden mb-10 flex flex-col md:flex-row animate-fade-in-up">

      <div class="p-6 flex flex-col justify-center md:w-2/3">
        <h3 class="text-2xl font-semibold mb-2 text-teal-300">LearnNova</h3>
        <p class="text-gray-300 mb-4">
          A full-featured digital learning system designed to deliver and manage online courses, track student progress,
          and support instructors and admins through a scalable, role-based platform.
        <h4 class="text-sm text-violet-400 font-semibold mb-2">Technologies Used:</h4>
        <div class="flex flex-wrap gap-2 text-sm text-gray-200">
          <span class="bg-gray-800 border-gray-100 border-2 px-3 py-1 rounded-full">ASP.NET Core MVC</span>
          <span class="bg-gray-800 border-gray-100 border-2 px-3 py-1 rounded-full">Entity Framework Core (EF Core)</span>
          <span class="bg-gray-800 border-gray-100 border-2 px-3 py-1 rounded-full">SQL Server</span>
          <span class="bg-gray-800 border-gray-100 border-2 px-3 py-1 rounded-full">Razor Views</span>
          <span class="bg-gray-800 border-gray-100 border-2 px-3 py-1 rounded-full">
3-Tier Architecture (Presentation, BLL, DAL)</span>
        </div>

        <div class="mt-6">
          <a href="https://learnnova.tryasp.net" target="_blank"
             class="inline-block bg-violet-700 hover:bg-violet-800 text-white px-5 py-2 rounded-md transition duration-300 shadow">
            View Project
          </a>
        </div>
      </div>

      <div class="md:w-1/2 flex items-center justify-center p-4">
        <img
          src="assets/images/img_1.png"
          alt="Project Screenshot"
          class="w-full max-w-xs md:max-w-sm rounded-lg object-contain shadow-lg"
        />
      </div>
    </div>


  </div>


  <div class="max-w-6xl mx-auto">

    <div class=" p-10 bg-gray-900 rounded-lg shadow-lg overflow-hidden mb-10 flex flex-col md:flex-row animate-fade-in-up">

      <div class="p-6 flex flex-col justify-center md:w-2/3">
        <h3 class="text-2xl font-semibold mb-2 text-teal-300">Bonefiy</h3>
        <p class="text-gray-300 mb-4">
          Glamify is a modern e-commerce web application developed using Angular. It offers dynamic product browsing, individual product detail pages, and a local storage–powered shopping cart. The application includes a user-friendly checkout experience and a responsive design, ensuring accessibility across devices. Built with standalone Angular components and Tailwind CSS, it emphasizes performance, scalability, and clean UI architecture.
        <h4 class="text-sm text-gray-200 font-semibold mb-2">Technologies Used:</h4>
        <div class="flex flex-wrap gap-2 text-sm text-gray-200">
          <span class="bg-gray-800 border-gray-100 border-2 px-3 py-1 rounded-full">Angular</span>
          <span class="bg-gray-800 border-gray-100 border-2 px-3 py-1 rounded-full">CSS</span>
          <span class="bg-gray-800 border-gray-100 border-2 px-3 py-1 rounded-full">Bootstrap</span>
        </div>

        <div class="mt-6">
          <a href="https://e-commerce-dun-zeta.vercel.app/" target="_blank" class="inline-block bg-violet-700 hover:bg-violet-800 text-white px-5 py-2 rounded-md transition duration-300 shadow">
            View Project
          </a>
        </div>
      </div>

      <div class="md:w-1/2 flex items-center justify-center p-4">
        <img
          src="assets/images/img_2.png"
          alt="Project Screenshot"
          class="w-full max-w-xs md:max-w-sm rounded-lg object-contain shadow-lg"
        />
      </div>
    </div>


  </div>
</section>
